# This workflow will:
# - Create a new Github release
# - Build wheels for supported architectures
# - Deploy the wheels to the Github release
# - Release the static code to PyPi
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Build wheels and deploy

on:
  release:
    types: [published]

jobs:
  build_wheels:
    name: Build Wheel
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # Using ubuntu-22.04 instead of 24.04 for more compatibility (glibc). Ideally we'd use the
        # manylinux docker image, but I haven't figured out how to install CUDA on manylinux.
        os: [ubuntu-22.04]
        python-version: ["3.12"]
        torch-version: ["2.8.0", "2.8.1"]
        cuda-version: ["12.9.1"]
        cudnn-version: ["9"]
        # We need separate wheels that either uses C++11 ABI (-D_GLIBCXX_USE_CXX11_ABI) or not.
        # Pytorch wheels currently don't use it, but nvcr images have Pytorch compiled with C++11 ABI.
        # Without this we get import error (undefined symbol: _ZN3c105ErrorC2ENS_14SourceLocationESs)
        # when building without C++11 ABI and using it on nvcr images.
        cxx11_abi: ["FALSE", "TRUE"]
        exclude:
          # see https://github.com/pytorch/pytorch/blob/main/RELEASE.md#release-compatibility-matrix
          # Pytorch < 2.5 does not support Python 3.13
          - torch-version: "2.4.0"
            python-version: "3.13"
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3

      - name: "Build PyTorch Wheel"
        uses: ./.github/actions/build-pytorch-wheel
        id: build-pytorch-wheel
        with:
          release-version: ${{ needs.setup_release.outputs.release-version }}
          python-version: ${{ matrix.python-version }}
          cuda-version: ${{ matrix.cuda-version }}
          cudnn-version: ${{ matrix.cudnn-version }}
          torch-version: ${{ matrix.torch-version }}
          cxx11_abi: ${{ matrix.cxx11_abi }}
        env:
          NVTE_FRAMEWORK: pytorch
          MAX_JOBS: 1

      - name: Upload Release Asset
        id: upload_release_asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./dist/${{steps.build-pytorch-wheel.outputs.wheel_name}}
          asset_name: ${{steps.build-pytorch-wheel.outputs.wheel_name}}
          asset_content_type: application/*
