# Copyright (c) 2022-2025, NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# See LICENSE for license information.

# A workflow to trigger TE build on GitHub
name: "Build"
on:
  pull_request:
  workflow_dispatch:
jobs:
  core:
    name: "Core"
    runs-on: ubuntu-latest
    container:
      image: nvcr.io/nvidia/cuda:12.1.0-devel-ubuntu22.04
      options: --user root
    steps:
      - name: "Dependencies"
        run: |
          apt-get update
          apt-get install -y git python3.9 pip cudnn9-cuda-12
          pip install cmake==3.21.0 pybind11[global] ninja
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: "Build"
        run: pip install --no-build-isolation . -v
        env:
          NVTE_FRAMEWORK: none
          MAX_JOBS: 1
      - name: "Sanity check"
        run: python3 -c "import transformer_engine"
        working-directory: /
  pytorch:
    name: "PyTorch"
    runs-on: ubuntu-latest
    container:
      image: ${{ matrix.os }}
      options: --user root
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        torch-version: ["2.4.0", "2.5.1", "2.6.0", "2.7.1", "2.8.0"]
        cuda-version: ["12.9.1"]
        # We need separate wheels that either uses C++11 ABI (-D_GLIBCXX_USE_CXX11_ABI) or not.
        # Pytorch wheels currently don't use it, but nvcr images have Pytorch compiled with C++11 ABI.
        # Without this we get import error (undefined symbol: _ZN3c105ErrorC2ENS_14SourceLocationESs)
        # when building without C++11 ABI and using it on nvcr images.
        cxx11_abi: ["FALSE", "TRUE"]
        exclude:
          # see https://github.com/pytorch/pytorch/blob/main/RELEASE.md#release-compatibility-matrix
          # Pytorch < 2.5 does not support Python 3.13
          - torch-version: "2.4.0"
            python-version: "3.13"
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3

      - name: "Build PyTorch Wheel"
        uses: ./.github/actions/build-pytorch-wheel
        id: build-pytorch-wheel
        with:
          release-version: ${{ matrix.release-version }}
          python-version: ${{ matrix.python-version }}
          cuda-version: ${{ matrix.cuda-version }}
          torch-version: ${{ matrix.torch-version }}
          cxx11_abi: ${{ matrix.cxx11_abi }}

      - name: "Build"
        run: pip install --no-build-isolation ${{ steps.build-pytorch-wheel.outputs.wheel_name }} -v --no-deps
        env:
          NVTE_FRAMEWORK: pytorch
          MAX_JOBS: 1

      - name: "Sanity check"
        run: python3 tests/pytorch/test_sanity_import.py
  jax:
    name: "JAX"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/nvidia/jax:jax
      options: --user root
    steps:
      - name: "Dependencies"
        run: pip install pybind11[global]
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: "Build"
        run: pip install --no-build-isolation . -v
        env:
          NVTE_FRAMEWORK: jax
          MAX_JOBS: 1
      - name: "Sanity check"
        run: python3 tests/jax/test_sanity_import.py
  all:
    name: "All"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/nvidia/jax:jax
      options: --user root
    steps:
      - name: "Dependencies"
        run: pip install torch pybind11[global] einops onnxscript
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: "Build"
        run: pip install --no-build-isolation . -v --no-deps
        env:
          NVTE_FRAMEWORK: all
          MAX_JOBS: 1
      - name: "Sanity check"
        run: python3 tests/pytorch/test_sanity_import.py && python3 tests/jax/test_sanity_import.py
