# Copyright (c) 2022-2025, NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# See LICENSE for license information.

# A workflow to trigger TE build on GitHub
name: "Build"
on:
  pull_request:
  workflow_dispatch:
    inputs:
      release-version:
        description: "The release version to use for the build"
        required: true
        type: string
      upload-to-release:
        description: "Upload wheel to this release"
        required: false
        type: boolean
        default: false
      python-version:
        description: "The Python version to use for the build"
        required: true
        type: string
        default: "3.10"
      cuda-version:
        description: "The CUDA version to use for the build"
        required: true
        type: string
        default: "12.8.0"
      cudnn-version:
        description: "The cuDNN version to use for the build"
        required: true
        type: string
        default: "9"
      torch-version:
        description: "The PyTorch version to use for the build"
        required: true
        type: string
        default: "2.8.0"
      cxx11_abi:
        description: "Enable torch flag C++11 ABI (TRUE/FALSE)"
        required: true
        type: string
        default: "FALSE"
jobs:
  core:
    name: "Core"
    runs-on: ubuntu-latest
    container:
      image: nvcr.io/nvidia/cuda:12.1.0-devel-ubuntu22.04
      options: --user root
    steps:
      - name: "Dependencies"
        run: |
          apt-get update
          apt-get install -y git python3.9 pip cudnn9-cuda-12
          pip install cmake==3.21.0 pybind11[global] ninja
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: "Build"
        run: pip install --no-build-isolation . -v
        env:
          NVTE_FRAMEWORK: none
          MAX_JOBS: 1
      - name: "Sanity check"
        run: python3 -c "import transformer_engine"
        working-directory: /

  pytorch:
    name: "PyTorch"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
      - name: "Build PyTorch Wheel"
        uses: ./.github/actions/build-pytorch-wheel
        id: build-pytorch-wheel
        with:
          release-version: ${{ inputs.release-version || github.sha }}
          python-version: ${{ inputs.python-version || '3.10' }}
          cuda-version: ${{ inputs.cuda-version || '12.8.0' }}
          cudnn-version: ${{ inputs.cudnn-version || '9' }}
          torch-version: ${{ inputs.torch-version || '2.8.0' }}
          cxx11_abi: ${{ inputs.cxx11_abi || 'FALSE' }}
        env:
          NVTE_FRAMEWORK: pytorch
          MAX_JOBS: 1
      - name: "Build"
        run: pip install --no-build-isolation dist/${{ steps.build-pytorch-wheel.outputs.wheel_name }} -v --no-deps
      - name: "Sanity check"
        run: python3 tests/pytorch/test_sanity_import.py
      - name: Get Release with tag
        id: get_current_release
        uses: joutvhu/get-release@v1
        with:
          tag_name: ${{ inputs.release-version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Release Asset
        id: upload_release_asset
        if: inputs.upload-to-release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.get_current_release.outputs.upload_url }}
          asset_path: ./dist/${{steps.build-pytorch-wheel.outputs.wheel_name}}
          asset_name: ${{steps.build-pytorch-wheel.outputs.wheel_name}}
          asset_content_type: application/*

  jax:
    name: "JAX"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/nvidia/jax:jax
      options: --user root
    steps:
      - name: "Dependencies"
        run: pip install pybind11[global]
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: "Build"
        run: pip install --no-build-isolation . -v
        env:
          NVTE_FRAMEWORK: jax
          MAX_JOBS: 1
      - name: "Sanity check"
        run: python3 tests/jax/test_sanity_import.py

  all:
    name: "All"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/nvidia/jax:jax
      options: --user root
    steps:
      - name: "Dependencies"
        run: pip install torch pybind11[global] einops onnxscript
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: "Build"
        run: pip install --no-build-isolation . -v --no-deps
        env:
          NVTE_FRAMEWORK: all
          MAX_JOBS: 1
      - name: "Sanity check"
        run: python3 tests/pytorch/test_sanity_import.py && python3 tests/jax/test_sanity_import.py
